.legals-page {
  .legals-wrapper {
    min-height: 100vh;
    .hero {
      max-width: 1280px;
      padding: 5rem 1rem;
      margin: auto;
      h1 {
        font-size: 48px;
        font-weight: 600;
        line-height: 90%;
      }
    }
    .infos {
      max-width: 1280px;
      padding: 0 1rem;
      margin: auto;
      ul {
        li {
          margin-bottom: 4rem;
          h2 {
            font-size: 32px;
            font-weight: 600;
            line-height: 100%;
            margin-bottom: 1.5rem;
          }
          h3 {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 0.25rem;
          }
          p {
            margin-bottom: 1rem;
          }
          a {
            font-family: $Inter;
            color: $Primary;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .legals-page {
    .legals-wrapper {
      .hero {
        padding: 8rem 1rem;
      }
    }
  }
}
