.project-page {
  .hero {
    max-width: 1280px;
    padding: 5rem 1rem;
    margin: auto;
    h1 {
      font-size: 48px;
      font-weight: 600;
      line-height: 100%;
      margin-bottom: 0.5rem;
    }
    h2 {
      font-size: 24px;
      font-weight: 500;
      line-height: 100%;
      color: $Grey;
    }
  }
  .details {
    max-width: 1280px;
    padding: 5rem 1rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 3rem;
    h3 {
      font-size: 24px;
      font-weight: 600;
      line-height: 100%;
      margin-bottom: 1rem;
    }
    ul {
      li {
        font-size: 20px;
        color: $Grey;
      }
    }
  }
  .illustrations {
    max-width: 1280px;
    padding: 0 1rem 5rem 1rem;
    margin: auto;
    .container {
      display: grid;
      gap: 2rem;
    }
    img {
      width: 100%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .project-page {
    .hero {
      padding: 8rem 1rem;
      h1 {
        font-size: 56px;
      }
      h2 {
        font-size: 32px;
      }
    }
    .illustrations {
      padding: 0 1rem 8rem 1rem;
      .container {
        gap: 4rem;
      }
    }
  }
}
